<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.dao.ApplicationDao">
     <insert id="addApplication" parameterType="com.example.project.entity.Application">
        insert into application (user_id,content,if_succeed,agency_id,information,academic_degree,speciality,school)
        values (#{user_id}, #{content},'0',#{agency_id},#{information},#{academic_degree},#{speciality},#{school});
    </insert>
   <select id="ifSubmittedApplication" resultType="boolean">
           select count(*)
           from application
           where user_id = #{user_id} ;
       </select>
    <select id="findApplicationByUserId" resultType="com.example.project.entity.VO.ApplicationVO">
              select application.*,user.name as user_name ,user.phone as user_phone ,tourism_enterprise.name as agency_name
              from application,user,tourism_enterprise
              where user_id = #{user_id} and user_id=user.id and tourism_enterprise.id=agency_id;
          </select>
   <update id="updateApplication" parameterType="com.example.project.entity.Application">
          update application
          set agency_id=#{agency_id},content=#{content},information=#{information},academic_degree=#{academic_degree},
          speciality=#{speciality},school=#{school}
          where user_id=#{user_id}
      </update>
   <select id="findAllApplication" resultType="com.example.project.entity.VO.ApplicationVO">
            select application.*,user.name as user_name ,user.phone as user_phone ,tourism_enterprise.name as agency_name
            from application,user,tourism_enterprise
            where user_id =user.id and tourism_enterprise.id=agency_id;
        </select>
  <select id="findApplicationById" resultType="com.example.project.entity.VO.ApplicationVO">
            select application.*,user.name as user_name ,user.phone as user_phone ,tourism_enterprise.name as agency_name
            from application,user,tourism_enterprise
            where application.id=#{id} and application.user_id =user.id and tourism_enterprise.id=agency_id;
        </select>
  <update id="reviewApplication">
            update application
            set if_succeed=#{if_succeed}
            where id=#{id}
        </update>
   <delete id="deleteApplicationById" parameterType="java.lang.Integer">
          delete
          from application
          where id = #{id};
      </delete>
  <select id="selectApplicationByIf_succeed" resultType="com.example.project.entity.VO.ApplicationVO">
          select application.*,user.name as user_name ,user.phone as user_phone ,tourism_enterprise.name as agency_name
          from application,user,tourism_enterprise
          where application.if_succeed=#{if_succeed} and application.user_id =user.id and tourism_enterprise.id=agency_id;
      </select>
</mapper>