<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.dao.ComplaintDao1">
    <select id="findAllComplaint" resultType="com.example.project.entity.VO.ComplaintVO">
        select complaint.id,
        user.name as sender,
        complaint.enterprise_id,
        complaint.level,
        complaint.if_coped,
        complaint.send_date from complaint,user where complaint.sender=user.id
    </select>
    <select id="findComplaintById" resultType="com.example.project.entity.VO.ComplaintVO">
        select * from complaint where id=#{id}
    </select>
    <select id="findComplaintBySender" resultType="com.example.project.entity.VO.ComplaintVO">
        select * from complaint where sender=#{sender}
    </select>
    <select id="findComplaintByEnterprise" resultType="com.example.project.entity.VO.ComplaintVO">
        select * from complaint
    </select>
    <select id="findComplaintByLevel" resultType="com.example.project.entity.VO.ComplaintVO">
        select * from complaint
    </select>
    <select id="findComplaintUnCoped" resultType="com.example.project.entity.VO.ComplaintVO">
        select * from complaint
    </select>
    <insert id="AddComplaint">

    </insert>
    <delete id="DeleteComplaintById">

    </delete>
    <delete id="DeleteComplaintCoped">

    </delete>
    <update id="UpdateComplaint">

    </update>
</mapper>